<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ funnel.name }}</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>
<div id="container"></div>
<script>
    const funnel = JSON.parse('{{ funnel | tojson }}')
    const chart_data = {
        chart: {
            type: 'column'
        },
        title: {
            text: funnel.title
        },
        xAxis: {
            categories: funnel.steps.map(step => step.name)
        },
        yAxis: {
            title: {
                text: ''
            },
            // max: 1.0,
            labels: {
                formatter: function () {
                    // return (this.value * 100).toFixed(0) + '%';
                    return Highcharts.numberFormat(this.value, 0, ".", ",");
                }
            }
        },
        series: [{
            name: 'value',
            data: funnel.steps.map(step => {
                let step_copy = JSON.parse(JSON.stringify(step))
                step_copy.y = step.value
                return step_copy;
            }),
            dataLabels: {
                enabled: true,
                formatter: function () {
                    let arr = [`${this.point.y}`]
                    if (this.point.idx > 1) {
                        arr.push(`직전 step 대비 : ${this.point.value / this.point.value_prev} (${this.point.value} / ${this.point.value_prev})`)
                        arr.push(`최초 step 대비 : ${this.point.value / this.point.value_init} (${this.point.value} / ${this.point.value_init})`)
                    }
                    return arr.join('<br>')
                },
                // style: {
                // textAnchor: 'middle',
                // }
            },
        }],
        tooltip: {
            pointFormatter: function () {
                // return '<span style="color:' + this.color + '">\u25CF</span> ' + this.series.name + ': <b>' + (this.y * 100).toFixed(0) + '%</b><br/>';
                return '<span style="color:' + this.color + '">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 0, '.', ',') + '</b><br/>';
            },
        },
    };

    // Create the chart
    Highcharts.chart('container', chart_data);
</script>
</body>
</html>
