<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ funnel.name }}</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<header>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>

<h1>입력</h1>
<input type="date" id="date-s">
<input type="date" id="date-e">
<br><br>
<input type="radio" id="option1" name="entity" value="user_id" checked>
user
<input type="radio" id="option2" name="entity" value="session_id">
session
<br><br>
<input type="button" value="조회" onclick="draw_column_chart()">

<h1>Column Chart</h1>
<div id="container"></div>
<script>
    const funnel = JSON.parse('{{ funnel | tojson }}')
    const chart = Highcharts.chart('container', {
        chart: {
            type: 'column',
        },
        title: {
            text: funnel.title,
        },
        xAxis: {
            categories: funnel.steps,
        },
        yAxis: {
            title: {
                text: '',
            },
            // max: 1.0,
            formatter: function () {
                // return (this.value * 100).toFixed(0) + '%';
                return Highcharts.numberFormat(this.value, 0, ".", ",");
            }
        },
        series: [{
            name: 'value',
            data: [],
        }],
        tooltip: {
            pointFormatter: function () {
                // return '<span style="color:' + this.color + '">\u25CF</span> ' + this.series.name + ': <b>' + (this.y * 100).toFixed(0) + '%</b><br/>';
                return '<span style="color:' + this.color + '">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 0, '.', ',') + '</b><br/>';
            },
        },
    })

    // dataLabels: {
    //     enabled: true,
    //     formatter: function () {
    //         let arr = [`${this.point.y}`]
    //         if (this.point.idx > 1) {
    //             arr.push(`직전 step 대비 : ${this.point.value / this.point.value_prev} (${this.point.value} / ${this.point.value_prev})`)
    //             arr.push(`최초 step 대비 : ${this.point.value / this.point.value_init} (${this.point.value} / ${this.point.value_init})`)
    //         }
    //         return arr.join('<br>')
    //     },
    //     // style: {
    //     // textAnchor: 'middle',
    //     // }
    // },
    // }],
    // };
</script>
<script>
    function draw_column_chart() {
        const dateS = document.getElementById("date-s").value;
        const dateE = document.getElementById("date-e").value;

        const entity_options = document.getElementsByName("entity");
        let entity;
        for (const entity_option of entity_options) {
            if (entity_option.checked) {
                entity = entity_option.value;
                break;
            }
        }

        const data = {
            funnel_name: funnel.name,
            date_s: dateS,
            date_e: dateE,
            entity: entity,
        };
        console.log(data)

        const requestOptions = {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(data),
        };

        fetch("http://localhost:8000/GetDataForColumnChart", requestOptions)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const xxx = data.map(step => {
                    return {
                        name: step.name,
                        y: step.value,
                    }
                })

                chart.series[0].setData(xxx);
            })
            .catch(error => console.log(error))
    }
</script>
</body>
</html>
